# Compilation artifacts
*.o
*.lo
*.mod
*.d
*.optrpt

# Compiled libraries
*.so
*.a

# Python artifacts
*.pyc

# Miscellaneous
*~
*.swp

translator-v2/flang-scan/build
translator-v2/flang-scan/.clang-format
translator-v2/flang-scan/.clangd
